/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
*/

/* * {
  border: 1px solid blue;
} */
html {
  height: 100%;
}

body {
  background-color: #2B2733;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  font-weight: lighter;
}

h2 {
  margin: 0;
  margin-bottom: 1.5%;
  font-size: 30px;
  font-weight: lighter;
}

header {
  background-color: #46424D;
  padding: 5px;
  text-align: center;
}

.input-box {
  background-color: #46424D;
  box-shadow: 2px solid #26222D;
  border-radius: 5px;
  height: 425px;
  padding: 17%;
  width: 100%;
}

.btn-logo {
  background-color: #46424D;
  display: block;
  width: 30px;
  margin: 0 auto;
}

.left-box {
  display: block;
  float: left;
  margin: 2%;
  width: 45%;
}


.right-box {
  border-left: 2px solid #46424D;
  display: block;
  float: right;
  height: 100%;
  margin: 2%;
  width: 35%;
}
