/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC
*/

html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #2B2733;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  min-height: 100%;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 1.5%;
}

h3 {
  font-weight: 400;
}

header {
  background-color: #46424D;
  padding: 2px;
  text-align: center;
  z-index: 1;
}

input {
  background-color: #46424D;
  border: none;
  border-bottom: 1px solid #FFF;
  outline: none;
  width: 100%;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-box {
  background-color: #46424D;
  box-shadow: 8px 8px #26222D;
  border-radius: 5px;
  padding: 5% 17% 8%;
  width: 100%;
}

.activity-btn {
  background-color: #46424D;
  border: 2px solid #FFF;
  border-radius: 4px;
  color: #FFF;
  font-size: 16px;
  outline: none;
  padding: 10px;
  width: 150px;
}

.input-label {
  margin-top: 10%;
}

.btn-section {
  display: flex;
  justify-content: space-between;
}

.study-active {
  border: 2px solid #B3FD78;
  color: #B3FD78;
}

.meditate-active {
  border: 2px solid #C278FD;
  color: #C278FD;
}

.exercise-active {
  border: 2px solid #FD8078;
  color: #FD8078;
}

.btn-logo {
  background-color: #46424D;
  display: block;
  margin: 0 auto;
  width: 30px;
}

input {
  color: #FFF;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: lighter;
}

.time-input {
  width: 300px;
}

.time-box {
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.warning-box {
  margin-top: 2%;
}

.warning-img {
  display: inline;
  width: 20px;
}

.warning-text {
  color: #EFB7EC;
  display: inline;
}

.start-box {
  display: flex;
  justify-content: flex-end;
}

.timer-input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.activity-description {
  font-size: 20px;
  font-weight: lighter;
}

.activity-time {
  font-size: 50px;
  font-weight: 700;
}

.start-btn {
  border-radius: 5px;
  border: none;
  color: #46424D;
  font-size: 20px;
  margin-top: 8%;
  padding: 9px;
  width: 225px;
}

.start-timer-btn {
  background-color: transparent;
  border-radius: 50%;
  color: #FFF;
  font-size: 30px;
  font-weight: lighter;
  height: 200px;
  width: 200px;
}

.start-timer-btn:hover {
  background-color: #615f66;
}
.left-box {
  width: 49%;
}

.logged-activity {
  background: #46424D;
  padding: 10px 20px;
  margin: 30px;
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  box-shadow: 3px 3px 10px black;
  border-radius: 10px;
}

.log-activity-button {
  border-radius: 5px;
  border: none;
  color: #46424D;
  font-size: 20px;
  margin-top: 8%;
  padding: 9px;
  width: 255px;
}

.vertical-line {
  background-color: #46424D;
  bottom: 0;
  left: 68%;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: -1;
}

.right-box {
  height: 100%;
  padding-left: 1.6%;
  width: 29%;
}

.past-activities {
  text-align: center;
}

.Study-category-color {
  color: #B3FD78;
}

.Meditate-category-color {
  color: #C278FD;
}

.Exercise-category-color {
  color: #FD8078;
}

.activity-line {
  height: 30px;
  border-right: 6px solid;
  border-radius: 20%;
}

@media only screen and (max-width: 1300px) {
  .time-input {
    width: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .time-input {
    width: 100px;
  }
}

.hidden {
  display: none;
}
